.container-form-contact{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.contact{
    width: 30%;
    padding: 1rem;
    border: 1px solid green;
}

.formulario{
    width: 70%;
    border-radius: 40px;
    padding: 1rem;
    border: 1px solid white;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario label, input {
    display: block;
}

/*ESTILOS PARA EL INPUT DEL NAME AND EMAIL*/
.wrapper{
    width: 48%;
    height: auto;
}

.lbl-nombre{
    font-size: 0.9rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 16px 0px;
}

.wrapper input{
    width: 100%;
    height: 40px;
    background: none;
    color: white;
    padding: 2px 5px;
    border: none;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    white-space: 2px;
    transition: all 0.5s ease;
}

/*Estilo del responsive*/
.container-textarea{
    margin-top: 5px;
}
.textarea-responsive{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2px 0px;
    width: 100%;
    min-height: 120px;
    resize: none;
    padding: 5px 8px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    letter-spacing: 1px;
    font-size: 1rem;
    outline: 0;
    transition: all 0.5 ease;
}

.textarea-responsive:hover, .formulario input:hover{
    border-bottom: 2px solid aqua;
}

.separador-form-div-name-email{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*estilo del boton*/
.sendMessage{
    border-radius: 10px;
    color: black;
    background-color: white;
    margin: 10px auto;
}

.contact .contact-title{
    font-size: 3rem;
    margin-top: 2px;
    margin-bottom: 8px;
}

.contact p{
    font-size: 1rem;
    margin: 2px 0px;
}

.contact .info{
    margin: 5px 0px;
    padding: 5px 0px;
}

.contact .info p{
    letter-spacing: 1px;
}

.contact h4{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 2px 0px;
}

@media(max-width: 768px) {
    .contact{
        display: none;
    }

    .separador-form-div-name-email{
        flex-direction: column;
        padding-bottom: 20px;
        .wrapper{
            width: 100%;
        }
    }

    .formulario{
        width: 100%;
        
        input, label{
            font-size: 0.8rem;
            letter-spacing: 2px;
        }
    }
}
