.card-proyect{
    border: 1px solid white;
    padding: 10px;
}

.card-proyect-title{
    text-align: center;
    height: 50%;
    font-size: 1.2rem;
    border: 1px solid white;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-proyect-buttons{
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-proyect-buttons a{
    text-align: center;
    border: 1px solid white;
    text-decoration: none;
    color: white;
}

.card-proyect-buttons img{
    width: 10%;
}