.card-proyect-img{
    width: 100%;
    margin: auto;
    height: 280px;
}

.card-proyect-img img{
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

.card-proyect-title-description{
    margin: 5px 15px;
    padding: 2px;
}

.card-proyect-title-description h1{
    text-align: center;
    font-size: 1.2rem;
    color: aqua;
    margin: 10px 0px;
}

.card-proyect-title-description p{
    font-size: 0.9rem;
    text-wrap: pretty;
    line-height: 1.1rem;
}

.tags{
    border: 1px solid rgba(250, 250, 250, 0.1);
    background-color: rgba(217, 195, 195, 0.1);
    width: 80px;
    padding: 5px;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    font-weight: normal;
    border-radius: 10px;
}

.category{
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(252, 246, 246, 0.3);
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
}

.container-tags{
    padding: 5px 0px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
}

.card-proyect-buttons{
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    border: 1px solid rgb(28, 241, 4);
    margin-top: 10px;
    padding: 5px 8px;
    text-align: center;
    border-radius: 25px;
}

.title-buton{
    color: white;
    margin-left: 10px;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.resize-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@media (min-width: 600px) {

    .wide {
        .card-proyect-img{
            width: 50%;
            height: 100%;
        }

        .card-proyect-title-description{
            width: 50%;
        }

        .category{
            color: white;
            border-color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media (max-width: 768px) {
    .card-proyect-img{
        width: 100%;
        height: 220px;
    }
}