.separador{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

.container-about{
    text-align: center;
    width: 60%;
    border: 1px solid blue;
    padding: 30px;
}

.container-about h1{
    color: white;
}

.container-about h2{
    font-size: 2rem;
    color: blueviolet;
    margin: 10px;
}

.marca{
    margin: 15px;
    text-align: right;
}

#logo-personal-marca{
    text-align: left;
    width: 40px;
}