* {
    transition: all 2s ease-in-out;
}

.separador{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

.container-about{
    box-shadow: 34px 31px 27px 13px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.329);
    text-align: center;
    width: 80%;
    border-radius: 3rem;
    padding: 30px;
}

.container-about h1{
    color: white;
}

.container-about h2{
    font-size: 2rem;
    color: blueviolet;
    margin: 10px;
}

.marca{
    margin: 15px;
    text-align: right;
}

#logo-personal-marca{
    text-align: left;
    width: 40px;
}

@media (max-width: 768px){
    .about-title h2{
        font-size: 1.2rem;
    }

    .about-t{
        font-size: 1.5rem;
    }

    .about-p{
        font-size: 1.1rem;
    }

    #logo-personal-marca{
        width: 30px;
    }
}