
.separador{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-about{
    box-shadow: 34px 31px 27px 13px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(82, 5, 121);
    text-align: center;
    width: 80%;
    border-radius: 2rem;
    padding: 60px 30px;
}

.container-about h1{
    color: white;
}

.container-about h2{
    font-size: 2rem;
    color: rgb(106, 225, 146);
    margin: 10px;
}

.marca{
    margin: 15px;
    text-align: right;
}

#logo-personal-marca{
    text-align: left;
    width: 40px;
}

@media (max-width: 768px){
    .about-title h2{
        font-size: 1.2rem;
    }

    .about-t{
        font-size: 1.5rem;
    }

    .about-p{
        font-size: 1.1rem;
    }

    #logo-personal-marca{
        width: 30px;
    }
}