.container-app{
    max-width: 1200px;
    margin: auto;
    z-index: 10;
}
.App{
    background-color: RGB(1, 4, 9);
    color: var(--color-text);
}

.circulo{
    border: 1px solid white;
    width: 280px;
    height: 280px;
    filter: blur(calc(250px/5));
    background-image: radial-gradient(circle, #103531, #143a36, #17403c, #1b4541, #1f4b47, #1f4b47, #1f4b47, #1f4b47, #1b4541, #17403c, #143a36, #103531);
    position: fixed;
    top: 15%;
    left: 4%;
    z-index: -6;
    opacity: 0.4;
}

.c-1{
    top: 60%;
    left: 80%;
}


@media (max-width: 768px) {
    .circulo {
        width: 150px;
        height: 150px;
        opacity: 0.3;

        top: 20%;
        left: 10%;
    }
    
    .c-1 {
        top: 70%;
        left: 75%;
    }
}