.presentacion{
    height: 100vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}



#foto-personal{
    margin-top: 30px;
    width: 50%;
    border-radius: 40%;
}

.nombre-presentacion{
    line-height: 5px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: beige;
}

.presentacion-text{
    padding: 20px;
    width: 80%;
}

.titulos{
    color: blueviolet;
    font-weight: bold;
    font-size: 3.6rem;
    margin: 10px 0px;
}

.parrafos{
    font-size: 2.1rem;
    letter-spacing: 1.5px;
}

.seccion-sociales-botones{
    margin: 5px 1px;
    padding: 5px 0px;
}

.seccion-sociales-botones img{
    width: 45px;
    margin: 2px 10px;
}

button{
    margin: 8px 20px;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    background: rgb(131, 100, 221);
    border: none;
}

@media (max-width: 768px) {
    .presentacion{
        flex-direction: column-reverse;
        text-align: center;
        justify-content: space-around;
    }

    .presentacion img{
        min-width: 5%;
    }

    .nombre-presentacion{
        font-size: 1.2rem;
    }

    .titulos{
        font-size: 1rem;
    }

    .parrafos{
        font-size: 1rem;
    }

    .seccion-sociales-botones img{
        width: 10%;
    }

    .seccion-sociales-botones button{
        font-size: 1rem;
        margin: 0 7px;
        padding: 5px 10px;
    }
}