* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest Variable", system-ui, 'Segoe UI';

}

:root{
    --bg: #f1f5f9;
    --bg-footer: rgba(90, 89, 89, 0.1);
    --titulo-cargo-color: #008F7A;
    --color-text: #000000;
    --color-text-reverse: #000;

    --icon-hover: #008F7A;
    --menu-proyect-selector: rgba(0, 128, 0, 0.251);

    --box-shadow-container: 0px 0px 35px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-container-about: 0px 0px 23px 0px rgba(0, 0, 0, 0.1);

    --card-hover-bg: rgba(154, 226, 226, 0.285);

    --toggle-bg: rgba(24, 28, 39, 1);
    --toggle-tx: #fff;

    --circle-bg: radial-gradient(circle, #14b8a598, #12a1936b, #118a805d, #11736c72, #115e598e);

    --bg-form: rgba(78, 78, 78, 0.1);
}

[data-theme="dark"]{
    --bg: rgb(3 7 18);
    --bg-footer: rgba(0, 143, 122, 0.4);
    --titulo-cargo-color:rgb(16 185 129);
    --color-text: #fff;
    --color-text-reverse: #fff;

    --icon-hover: #008F7A;
    --menu-proyect-selector: rgb(2, 104, 2);
   
    --box-shadow-container: 0px 0px 23px 25px rgba(5, 120, 5, 0.1);
    --box-shadow-container-about: 34px 31px 27px 13px rgba(0, 0, 0, 0.5);

    --card-hover-bg: #008f7a3b;

    --toggle-bg: rgba(255, 255, 255, 0.968);
    --toggle-tx: rgb(3 7 18);

    --circle-bg: radial-gradient(circle, #103531, #143a36, #17403c, #1b4541, #1f4b47, #1f4b47, #1f4b47, #1f4b47, #1b4541, #17403c, #143a36, #103531);

    --bg-form: rgba(0, 0, 0, 0.2);
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #120b0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #17225b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #152575;
}

body {
    overflow-x: hidden;
}