*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest Variable", system-ui, 'Segoe UI';
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #120b0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #17225b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #152575;
}

body{
    background-image: linear-gradient(to right bottom, #0b020f, #100514, #140818, #170b1b, #1a0e1f, #170f21, #131122, #0e1223, #02121e, #001117, #000e10, #020908);
    color: white;
    overflow-x: hidden;
}