*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 2s ease;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #120b0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #17225b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #152575;
}

body{
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #11233e, #15253f, #182740, #1c2942, #1f2b43, #22283d, #242538, #252232, #211a25, #1b141a, #120b0e, #000000);
}
