.menu{
    position: fixed;
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 600px;
}

.menu-opciones{
    width: 400px;
    font-size: 1.8rem;
}

.menu-opciones ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-opciones li{
    list-style: none;
}

.menu-opciones a{
    text-decoration: none;
    color: white;
}

#logoPersonal{
    width: 70px;
}

@media (max-width: 600px){
    .menu-opciones{
        font-size: 1.3rem;
        width: 70%;
    }

    #logoPersonal{
        width: 50px;
    }
}

@keyframes blur {
    to {
        box-shadow: 
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
    }
}