.menu{
    position: sticky;
    border: 1px solid red;
    margin: 5px;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-opciones{
    width: 400px;
    font-size: 1.8rem;
}

.menu-opciones ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-opciones li{
    list-style: none;
}

.menu-opciones a{
    text-decoration: none;
    color: white;
}

#logoPersonal{
    width: 70px;
}

@media (max-width: 600px){
    .menu-opciones{
        font-size: 1.3rem;
        width: 70%;
    }

    #logoPersonal{
        width: 50px;
    }
}