.container-proyects{
    margin: 2% auto;
    width: 100%;
    padding: 1% 2%;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 34px 31px 27px 13px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
}

.card-proyect{
    border: 1px solid red;
    width: 40%;
    border-radius: 20px;
}

.container-proyects-cards{
    border: 1px solid greenyellow;
}

.titulos-separadores {
    letter-spacing: 1px;
    margin: 10px;
}