.container-proyects{
    margin: 2% auto;
    width: 100%;
    padding: 1% 2%;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 100px;
}

.container-menu-proyectos{
    width: 380px;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(34, 255, 5, 0.2);
    border-radius: 20px;
    margin-bottom: 10px;
}

.container-menu-proyectos p{
    opacity: 0.5;
    padding: 8px 16px;
}

.container-menu-proyectos .selected{
    font-weight: bold;
    opacity: 1;
    background-color: rgba(0, 128, 0, 0.3);
    border-radius: 10px;
}

.card-proyect{
    border: 1px solid rgba(0, 128, 0, 0.5);
    height: 98%;
    border-radius: 20px;
    position: relative;
}

.card-proyect:hover{
    background-color: rgba(82, 5, 121, 0.2);
    border: 1px solid rgba(82, 5, 121, 0.9);
}

.container-proyects-cards{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 20px;
    padding: 10px;
    grid-auto-flow: dense;
}

.titulos-separadores {
    letter-spacing: 1px;
    margin: 10px;
}

.error-card{
    width: 50px;
    height: 50px;
    margin: 20px;
}

.container-null{
    text-align: center;
    padding: 50px;
    height: 100%;
}

@media (min-width: 600px) {

    .wide {
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        height: 100%;
    }

    .tall {
        grid-row: span 2;
    }
}

@media (max-width: 768px) {
    .container-menu-proyectos{
        width: 100%;

        & p{
            font-size: 0.9rem;
        }
    }

    .card-proyect{
        height: 100%;
    }
}