.container-proyect{
    border: 1px solid white;
    margin: 120px 0px;
}

.container-skills{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2px;
    grid-auto-rows: minmax(50px, auto);
    padding: 5px;
    grid-auto-flow: dense;
    text-align: center;
}

.skill{
    margin: 15px 10px;
    padding: 0.5rem 0rem;
    background: none;
    color: white;
    border-radius: 35px;
    border: 1px solid rgba(201, 106, 225, 0.3);
    box-shadow: 3px 4px 28px 12px rgba(0, 0, 0, 0.3);
}

.skill:hover{
    transform: scale(1.1);
}

.skill h4{
    font-size: 1rem;
}